.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.calc-container{
	margin: 10px auto;
	border: 1px solid black;
	width: 45em;
}

.form-container{
	height: 7em;
}

.ksp-form, .form-left, .form-right{
	height: 100%;
}

.ksp-form label{
	display: block;
}

.ksp-form input{
	max-width: 60%;
}

.form-left{
	width: 80%;
	float: left;
	
}

.form-right{
	width: 20%;
	float: left;

}

.range{
	width: 50%;
	float: left;
}

.form-right-top{
	height:70%;
	text-align: right;
	padding: 5px;
}

.form-right-bottom{
	height:30%;
	text-align: right;
}

.calc-table{
	border-collapse: collapse;
}

.calc-table, .calc-table tr{
	width: 100%;
}

.calc-table th, .calc-table td{
	width: 25%;
	border: 1px solid black;
}
